<div>
    <div>
        <div>
            <h1>Login</h1>
            <%- include('./partials/message') %>
            <form action="/users/login" method="post">
                <div>
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="Enter Email">
                </div>

                <div>
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password">
                </div>

                <button type="submit">Login</button>
            </form>

            <p>
                No Account? <a href="/users/register">Register</a>
            </p>
        </div>
    </div>
</div>

