<div>
    <div>
        <div>
            <h1></h1>
            <p>Create an account or login</p>
            <a href="/users/register" class="button">Register</a>
            <a href="/users/login" class="button">Login</a>
        </div>
    </div>
</div>